<ion-card *ngFor="let item of filtered(); let i = index">

    <ion-card-content>
        <formcontrol-text [definition]="createFormControlDefinition('Email', item.controls['emailAddress'])"></formcontrol-text>
        <formcontrol-text [definition]="createFormControlDefinition('First', item.controls['firstName'])"></formcontrol-text>
        <formcontrol-text [definition]="createFormControlDefinition('Last', item.controls['lastName'])"></formcontrol-text>
        <formcontrol-text [definition]="createFormControlDefinition('Salutation', item.controls['salutation'])"></formcontrol-text>
    </ion-card-content>

    <ion-row>
        <ion-col text-right>
            <button ion-button clear small color="danger" icon-left (click)="remove(item)">
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
        </ion-col>
    </ion-row>

</ion-card>
<button ion-button (click)="add()">Add</button>