<ion-header>

    <ion-navbar>
        <ion-title>Email Distribution Edit</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="main">
                Main
            </ion-segment-button>
            <ion-segment-button value="manual">
                Manual
            </ion-segment-button>
            <ion-segment-button value="outlet">
                Outlets
            </ion-segment-button>
            <ion-segment-button value="contact">
                Contacts
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content>

    <form [formGroup]="item.form" *ngIf="everythingLoaded">
        <div *ngIf="segment === 'main'">
            <ion-item-divider>From Details</ion-item-divider>
            <formcontrol-text [definition]="createFormControlDefinition('From Name', item.form.controls['sendFromName'])"></formcontrol-text>

            <ion-row no-padding>
                <ion-col col-4 no-padding>
                    <formcontrol-text [definition]="createFormControlDefinition('From Email Address i.e. username@', item.form.controls['sendFromEmailPrefix'])"></formcontrol-text>
                </ion-col>
                <ion-col col-8 no-padding>
                    <button (click)="updateSendFromEmailDomain()" ion-item>@{{item.form.controls['sendFromEmailDomain'].value}}</button>
                </ion-col>
            </ion-row>


        </div>

        <div *ngIf="segment === 'manual'">
            <email-distribution-editor-manual-recipients [submitAttemptMade]="submitAttemptMade" [formArray]="createIFormArray('manualRecipients')"></email-distribution-editor-manual-recipients>
        </div>

        <div *ngIf="segment === 'contact'">
            <button (click)="getContacts()" ion-button>Get Contacts</button>
        </div>

    </form>




</ion-content>