<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start left>
            <button ion-button (click)="cancel()">Close</button>
        </ion-buttons>
        <ion-title>Release Edit</ion-title>
        <ion-buttons start right>
            <button ion-button (click)="save()">Save</button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="main">
                Main
            </ion-segment-button>
            <ion-segment-button value="corecopy">
                Core Copy
            </ion-segment-button>
            <ion-segment-button value="notestoeditor">
                Editor
            </ion-segment-button>
            <ion-segment-button value="boilerplate">
                Boilerplate
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="itemLoaded.getValue()" [formGroup]="item.form">
        <div *ngIf="segment === 'main'">

            <formcontrol-text [definition]="createFormControlDefinition('Name', item.form.controls['name'])"></formcontrol-text>
            <formcontrol-text [definition]="createFormControlDefinition('Headline', item.form.controls['headline'])"></formcontrol-text>
            <formcontrol-text [definition]="createFormControlDefinition('Subheading', item.form.controls['subheading'])"></formcontrol-text>
            <formcontrol-date [definition]="createFormControlDefinition('Display Date Time', item.form.controls['displayDateTime'])"></formcontrol-date>
            <formcontrol-date showTime="true" [definition]="createFormControlDefinition('Scheduled', item.form.controls['scheduledDateTime'])"></formcontrol-date>

            <div *ngIf="displayDelete()" padding>
                <button ion-button full (click)="delete()" color="light" style="color: red; height: 60px;">Delete</button>
                <button ion-button full icon-left (click)="gotoEmailDistribution()" style="height: 60px;"><ion-icon name="mail" ></ion-icon>Email Distribution</button>
            </div>
        </div>

        <div *ngIf="segment === 'corecopy'">
            <formcontrol-richtext [definition]="createFormControlDefinition('Core Copy', item.form.controls['coreCopy'])"></formcontrol-richtext>
        </div>

        <div *ngIf="segment === 'notestoeditor'">
            <formcontrol-richtext [definition]="createFormControlDefinition('Notes to Editor', item.form.controls['notesToEditor'])"></formcontrol-richtext>
        </div>

        <div *ngIf="segment === 'boilerplate'">
            <formcontrol-richtext [definition]="createFormControlDefinition('BoilerPlate', item.form.controls['boilerPlate'])"></formcontrol-richtext>
        </div>
    </form>

</ion-content>