<!--
  Generated template for the ReleaseEdit page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="vuelio-grey" hideBackButton>
        <ion-title>Release Edit</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div *ngIf="segment === 'main'">
        <ion-list *ngIf="segment === 'main'">

            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" [(ngModel)]="release.name" name="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Headline</ion-label>
                <ion-input style="font-size: 1.8em;" type="text" [(ngModel)]="release.headline" name="headline"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Subheading</ion-label>
                <ion-input type="text" [(ngModel)]="release.subheading" name="subheading"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Date</ion-label>
                <ion-datetime displayFormat="DD/MMM/YY" [(ngModel)]="release.displayDate" name="date"></ion-datetime>
            </ion-item>
        </ion-list>

        <button ion-button full (click)="options()" color="light" style="color: blue;">Actions</button>
    </div>

    <div *ngIf="segment === 'content'">

        <ion-card>
            <ion-card-header>
                Core Copy
            </ion-card-header>
            <ion-textarea [(ngModel)]="release.coreCopy"></ion-textarea>
        </ion-card>

    </div>

</ion-content>


<ion-footer>

    <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="main">
                Main
            </ion-segment-button>
            <ion-segment-button value="content">
                Content
            </ion-segment-button>
            <ion-segment-button value="contacts">
                Contacts
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>


</ion-footer>