formcontrol-richtext {
    *[contenteditable] {
        -webkit-user-select: auto !important;
        padding: 5px;
        margin: 5px;
        border: 1px solid #bbb;
        overflow-x: scroll;
        overflow-y: auto;
        word-wrap: normal;
        img {
            padding-left: 2px;
            max-width: 95%;
        }
    }
    div.decorator {
        background: #444;
        margin: 5px;
        text-align: center;
        button {
            background: #444;
            color: #fff;
            font-size: 1.1em;
            height: 35px;
            min-width: 30px;
        }
    }
}