<ion-header>
    <ion-navbar>
        <ion-searchbar #searchElement [placeholder]="params.title + '...'" (ionInput)="getFilteredItems($event.target.value)"></ion-searchbar>
        <ion-buttons start right>
            <button *ngIf="displayAdd()" ion-button (click)="add()"><ion-icon ios="md-create" md="md-create"></ion-icon></button>
            <button ion-button (click)="configToggle()"><ion-icon name="settings"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list *ngIf="configDisplay">

        <ion-item-divider color="primary">Filters</ion-item-divider>

        <form [formGroup]="configForm">
            <ion-item *ngIf="params.showClientOnlyTogglable">
                <ion-label>Private records only</ion-label>
                <ion-checkbox item-right formControlName="showClientOnly" checked="false"></ion-checkbox>
            </ion-item>
        </form>

    </ion-list>

    <custom-spinner *ngIf="performingSearch"></custom-spinner>

    <ion-list *ngIf="!performingSearch">
        <button ion-item *ngFor="let data of _filteredItems" (click)="redirect(data)">
            <ion-avatar item-left *ngIf="data.avatarUrl !== undefined && data.avatarUrl !== null">
                <img [src]="data.avatarUrl.replace('_normal','_bigger')" onerror="this.style.display = 'none'" />
            </ion-avatar>
            {{data.name}}
            <p *ngIf="data.description1 !== undefined && data.description1 !== null">{{data.description1}}</p>
            <p *ngIf="data.description2 !== undefined && data.description2 !== null">{{data.description2}}</p>
            <p *ngIf="data.description3 !== undefined && data.description3 !== null">{{data.description3}}</p>
            </button>
    </ion-list>
</ion-content>