<ion-header>
    <ion-navbar>
        <ion-title>Contact View</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="itemLoaded">

        <ion-grid>
            <ion-row *ngIf="displayAvatar()">
                <ion-col style="text-align: center;">
                    <img style="border-radius: 50%; width:75px; height: 75px;" [src]="item.communication.avatarUrl.replace('_normal','')" onerror="this.style.display = 'none'" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <span style="font-size: 2.5em;">{{item.name}}</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="text-align: center;">
                    <span style="font-size: 1.5em;">{{item.outlet.name}}</span>
                </ion-col>
            </ion-row>

        </ion-grid>

        <ion-list *ngIf="displayProfile()">
            <ion-item text-wrap>
                <p *ngFor="let chunk of getProfileChunks()">
                    {{chunk}}
                </p>
            </ion-item>
        </ion-list>

        <ion-list>
            <button ion-item (click)="gotoSite()" *ngIf="displaySite()">
                <ion-icon name="link" color="primary" item-left></ion-icon>
                <p>{{item.communication.mainHomepage}}</p>
            </button>
            <button ion-item (click)="sendEmail()" *ngIf="displayEmail()">
                <ion-icon name="mail" color="primary" item-left></ion-icon>
                <p>{{item.communication.emailAddress}}</p>
            </button>
            <button ion-item (click)="call()" *ngIf="displayCall()">
                <ion-icon name="call" color="primary" item-left></ion-icon>
                <p>{{item.communication.phoneNumber}}</p>
            </button>
            <button ion-item (click)="gotoMapLink()" *ngIf="displayAddress()">
                <ion-icon name="home" item-left color="primary"></ion-icon>
                <p>{{item.address.line1}}</p>
                <p>{{item.address.line2}}</p>
                <p>{{item.address.city}}</p>
                <p>{{item.address.postalCode}}</p>
            </button>
        </ion-list>


    </div>
</ion-content>